/* oxygen-300 - latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/oxygen-v15-latin-300.eot');
  /* IE9 Compat Modes */
  src: local(''), url('../fonts/oxygen-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/oxygen-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/oxygen-v15-latin-300.woff') format('woff'), /* Modern Browsers */ url('../fonts/oxygen-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/oxygen-v15-latin-300.svg#Oxygen') format('svg');
  /* Legacy iOS */
}
/* oxygen-regular - latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/oxygen-v15-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''), url('../fonts/oxygen-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/oxygen-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/oxygen-v15-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/oxygen-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/oxygen-v15-latin-regular.svg#Oxygen') format('svg');
  /* Legacy iOS */
}
/* oxygen-700 - latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/oxygen-v15-latin-700.eot');
  /* IE9 Compat Modes */
  src: local(''), url('../fonts/oxygen-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/oxygen-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/oxygen-v15-latin-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/oxygen-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/oxygen-v15-latin-700.svg#Oxygen') format('svg');
  /* Legacy iOS */
}
* {
  font-family: 'Oxygen', sans-serif;
  box-sizing: border-box;
  color: #fff;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  width: 100vw;
}
h1,
h1 span {
  color: #000;
}
#page {
  min-height: 100vh;
  width: 100vw;
  padding: 10px;
  font-size: 20px;
  background-color: #ffd54f;
}
button {
  background-color: #333;
  border: 0 solid rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: all 100ms ease-in-out;
  width: 12rem;
  height: 8rem;
  border-radius: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  line-height: 2rem;
  max-height: 12rem;
  font-size: 1.5rem;
}
button:hover {
  background-color: #4d4d4d;
}
button:active {
  background-color: #666666;
}
button:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 0.5em;
}
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 9.5em;
}
.download .tooltip {
  display: none;
  position: absolute;
  color: #fff;
  background: #666666;
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 5px;
}
.tooltip {
  position: relative;
  transform: translateY(-10px);
}
.tooltip a {
  color: #D52941;
  text-decoration: none;
  transition: color 250ms ease-in-out;
}
.tooltip a:hover {
  color: #41d529;
}
.download:hover .tooltip {
  display: block;
  text-align: center;
}
.icon {
  margin: 0.25em 0.125em;
}
.download-icon {
  transition: transform 250ms ease-in-out;
}
.download-icon:hover,
.download-icon a:hover,
.download-icon.download-icon a:active {
  cursor: pointer;
  transform: scale(1.2);
}
.download-icona:active,
.download-icon.download-icon:active {
  transform: scale(1.2);
  cursor: pointer;
}
#stop-button {
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin: 1em;
  background-color: #D52941;
  transition: background-color 250ms ease-in-out, box-shadow 175ms ease-in-out;
}
#stop-button:hover {
  background-color: #da3e53;
}
#stop-button:active {
  box-shadow: inset 0 0 16px 0.25em rgba(0, 0, 0, 0.2);
}
#anomaly-pog {
  transform: translateY(40%);
  height: 2em;
  transition: transform 250ms ease-in-out, filter 250ms ease-in-out, -webkit-filter 250ms ease-in-out;
}
#anomaly-pog:hover {
  cursor: pointer;
  transform: scale(1.2);
  -webkit-filter: drop-shadow(2px 2px 0 #D52941) drop-shadow(-2px 2px 0 #D52941) drop-shadow(2px -2px 0 #D52941) drop-shadow(-2px -2px 0 #D52941);
  filter: drop-shadow(2px 2px 0 #D52941) drop-shadow(-2px 2px 0 #D52941) drop-shadow(2px -2px 0 #D52941) drop-shadow(-2px -2px 0 #D52941);
}
#anomaly {
  cursor: pointer;
}
.shake {
  animation: shake 250ms infinite;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
::selection {
  background: rgba(77, 77, 77, 0.75);
}
input[type=range] {
  -webkit-appearance: none;
  margin: 40px/2 0;
  width: 40vw;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 40vw;
  height: 10px;
  cursor: pointer;
  background: #333;
  border-radius: 25px;
}
input[type=range]::-webkit-slider-thumb {
  height: 40px;
  width: 20px;
  border-radius: 8px;
  background: #D52941;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -15px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #333;
}
input[type=range]::-moz-range-track {
  width: 40vw;
  height: 10px;
  cursor: pointer;
  background: #333;
  border-radius: 25px;
}
input[type=range]::-moz-range-thumb {
  height: 40px;
  width: 20px;
  border-radius: 8px;
  background: #D52941;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 40vw;
  height: 10px;
  cursor: pointer;
  background: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #333;
  border-radius: 50px;
}
input[type=range]::-ms-fill-upper {
  background: #333;
  border-radius: 50px;
}
input[type=range]::-ms-thumb {
  height: 40px;
  width: 20px;
  border-radius: 8px;
  background: #D52941;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #333;
}
input[type=range]:focus::-ms-fill-upper {
  background: #333;
}
